$colores: (
    background_header:linear-gradient(to right,
    rgb(255, 255, 0),
    rgb(0, 255, 255)),
    main_bienvenida: rgb(244, 244, 88),
    background_main_texth2: rgb(0, 85, 100),
    background_items_main: rgb(30, 176, 212)
);