* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: poppins;
    color: black;
  }
  
  header {
    width: 100%;
    background-image: linear-gradient(
      to right,
      rgb(255, 255, 0),
      rgb(0, 255, 255)
    );
  }
  
  .contenedor {
    margin: auto;
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    align-items: center;
    overflow: hidden;
  }
  
  h1 {
    position: absolute;
    text-indent: -10000px;
  }
  
  .nav {
    display: flex;
  }
  
  .nav ul {
    display: flex;
    gap: 25px;
  }
  
  .header__img {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  
  .header__btn {
    background-color: rgb(251, 253, 94);
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
  }
  
  .hero {
    width: 100%;
    height: calc(100vh - 100px);
  }
  
  .hero .contenedor {
    max-width: 100%;
  }
  
  .hero img {
    width: 100%;
    object-fit: cover;
    height: calc(100vh - 100px);
  }
  
  .main__bienvenida {
    background-color: rgb(244, 244, 88);
    padding: 30px 0;
  }
  
  h2 {
    width: 100%;
    font-size: 32px;
    color: rgb(0, 85, 100);
    text-align: center;
    font-weight: 400;
  }
  
  .main__caracteristicas {
    width: 100%;
    background-image: url(../imagenes/ESPUMA.png);
    padding: 50px 0;
  }
  
  .main__caracteristicas .contenedor {
    display: flex;
    flex-direction: column;
  }
  
  .main__item--1,
  .main__item--2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    width: 100%;
    height: 400px;
    transition: all 0.5s ease;
  }
  
  .main__item--2 {
    flex-direction: row-reverse;
  }
  
  .main__item--1 h2,
  .main__item--2 h2 {
    width: 300px;
    font-size: 37px;
    color: rgb(30, 176, 212);
    font-weight: bold;
    transition: all 0.5s ease;
  }
  
  .main__item--1 img,
  .main__item--2 img {
    width: 600px;
    height: 300px;
    object-fit: cover;
  }
  
  .main__item--1:hover,
  .main__item--2:hover {
    transform: scale(110%);
  }
  
  .main__item--1:hover h2 {
    transform: scale(100%);
    transform: translateX(400px);
  }
  
  .main__item--2:hover h2 {
    transform: scale(100%);
    transform: translateX(-400px);
  }
  .footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px;
  }
  .redes{
padding: 30px;
  }
  

  .texto {
    display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 2px;
        margin: 50px;
      }

.titulo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 50px;
      }
      .grid-container {
        display: flex;
        flex-flow: row wrap;

      }
      
      
      .cliente {
        position: relative;
      }
      
      .imagenes {
        line-height: 0;
        overflow: hidden;
      }
      
      .imagenes img {
        filter: blur(0px);
        transition: filter 0.5s ease-in;
        transform: scale(1.1);
      }
      
      .nombre {
        font-size: 1.5em;
        font-weight: bold;
        text-decoration: none;
        z-index: 1;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity .8s;
        background: rgba(38, 248, 255, 0.719);
        color: rgb(0, 35, 148);
       display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .cliente:hover .nombre {
        opacity: 2;
      }
      
      .cliente:hover .imagenes img {
        filter: blur(3px);
      }

.col {
 padding: 50px;

}

.formulario {
  padding: 50px;
 
 }



  @media (max-width: 800px) {
    header {
      width: 100%;
      background-image: linear-gradient(
        to right,
        rgb(255, 255, 0),
        rgb(0, 255, 255)
      );
    }
  
    .contenedor {
      margin: auto;
      display: flex;
      justify-content: space-between;
      max-width: 375px;
      align-items: center;
      overflow: hidden;
    }
  
    h1 {
      position: absolute;
      text-indent: -10000px;
    }
  
    .nav {
      display: none;

    }
  
    .header__img {
      width: 100px;
      height: 100px;
      object-fit: cover;
    }
  
    .header__btn {
      background-color: rgb(251, 253, 94);
      padding: 10px 20px;
      border-radius: 5px;
      box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
      -webkit-box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
    }
  
    .hero {
      display: flex;
      align-items: flex-start;
      width: 100%;
      height: 50%;
    }
  
    .hero .contenedor {
      max-width: 100%;
    }
  
    .hero img {
      width: 100%;
      height: auto;
      max-height: 50%;
    }
  
    .main__bienvenida {
      background-color: rgb(244, 244, 88);
      padding: 15px 0;
    }
  
    h2 {
      width: 100%;
      font-size: 16px;
      color: rgb(0, 0, 108);
      text-align: center;
      font-weight: 400;
    }
  
    .main__caracteristicas {
      width: 100%;
      background-image: url(../imagenes/ESPUMA.png);
    }
  
    .main__caracteristicas .contenedor {
      display: flex;
      flex-direction: column;
    }

  
    .main__item--1,
    .main__item--2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 25px 0;
      width: 100%;
      height: 400px;
    }
  
    .main__item--1 h2,
    .main__item--2 h2 {
      color: white;
      font-size: 21px;
      background-color: rgb(30, 176, 212);
    }
  
    .main__item--1 img,
    .main__item--2 img {
      margin: auto;
      width: 300px;
      height: auto;
    }
  
    .main__item--1:hover,
    .main__item--2:hover {
      transform: scale(100%);
    }
  
    .main__item--1:hover h2 {
      transform: scale(100%);
      transform: translateX(0px);
    }
  
    .main__item--2:hover h2 {
      transform: scale(100%);
      transform: translateX(0px);
    }
    .texto {
      display: flex;
          flex-direction: column;
          font-weight: 400;
          height: auto;
        }

  }
  .footer {
    width: 100%;
    background-color: rgb(244, 244, 88);
  }

      